.logo {
    background: url('img/portada2.png');
    height: 250px;
    background-size: contain;
    border-radius: 6px;
    margin: 0.5px 1px -16px 1px;
    border: 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap'); /*tipo de letra*/
 
body {
    font-family: 'Hind Siliguri', sans-serif;
}


.image1 {
    height: 310px;
    width: 310px;
    margin-top: -1.6%;
    margin-left: 820px;
}

.slogan {
    background-color: black;
    color: white;
    margin: 16px 1px -50px 1px;
    border-radius: 5px;
    border: 1px;
    height: 40px;
    font-size: 10px;
    font-family: Hind Siliguri;
    display: flex; /*centrado en recuadro del texto*/
    justify-content: center;
    align-items: center;

}

h1 {
    font-weight: 50;
}
